{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-7xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img src="https://picsum.photos/640/480?random=1" alt="product image" 
            class="rounded-xl">
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">Product Name</h1>

        <p class="mt-1 text-gray-400">$9.99</p>

        <p class="mt-6 text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, laborum at? Corrupti hic repellendus eum optio est aliquid at, repudiandae similique rerum, ut dolorum minus corporis necessitatibus. Molestiae, laboriosam iste?
        </p>

        <a href="#" class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 hover:bg-purple-700 text-white">
            Add to cart
        </a>
    </div>
</div>
{% endblock %}
